.component {
  opacity: 0;
  transition: opacity 0.7s ease;
  overflow: hidden;
  // position: absolute;
  height: 0px;

  &.display {
    height: auto;
    // position: relative;
    opacity: 1;
  }

  .children {
  }
}
